<!-- <div class="container-fluid"> -->

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark d-flex">

    <a class="navbar-brand" href="#" >Scale Model Station</a>
    <form class="form-inline my-2 my-lg-0 col-8 flex-grow-1 position-relative">
      <fa-icon [icon]="faSearch" class="main-menu-search-icon pl-3"></fa-icon>
      <input class="form-control mr-sm-2 w-100 pl-5" type="search" placeholder="Search" aria-label="Search" >
    </form>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn my-2 my-sm-0 w-100 btn-primary" id="signupBtn" type="submit">SIGN IN</button>
    </form>
  </nav>
<br/>
<br/>


  <router-outlet></router-outlet>

