// .masonry-item { max-width: 200px; }

.slide {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.categories-slide:hover {
  cursor: pointer;
}

.category-active{
    background: rgba(19,175,240,.4);
    border-color: #13aff0;
}

