<!-- <ngx-slick-carousel
  class="carousel"
  #slickModal="slick-carousel"
  [config]="slideConfig"
  (init)="slickInit($event)"
  (breakpoint)="breakpoint($event)"
  (afterChange)="afterChange($event)"
  (beforeChange)="beforeChange($event)"
>
  <div ngxSlickItem *ngFor="let slide of slides;let i = index;" class="slide" (click)="handleClickSlider(slide,i)" [class.slide-active]="selectedSlide===i">
    <span class="slide-text">{{slide.text}}</span>
    <span  *ngIf="selectedSlide===i" class="slide-opaque-bg"></span>
    <img src="{{ slide.src }}" alt="" width="100%" />
  </div>
</ngx-slick-carousel> -->


<div>
  <tabset class="">
    <tab heading="All" id="tab1">
      <!-- <ngx-masonry>
        <a routerLink="/view-post">
          <div
            ngxMasonryItem
            class="masonry-item"
            *ngFor="let item of masonryItems"
          >
            <img src="https://picsum.photos/seed/picsum/200/200" />
          </div>
        </a>
      </ngx-masonry> -->

      <app-grid-gallery [images]="slides"
                  cols.xs="1"
                  cols.sm="2"
                  cols.md="3"
                  cols.lg="4"
                  cols.xl="6">
</app-grid-gallery>


    </tab>
    <tab heading="latest">Latest</tab>
    <tab heading="liked">Most Liked</tab>
  </tabset>
</div>
