<ngx-slick-carousel
  class="carousel"
  #slickModal="slick-carousel"
  [config]="slideConfig"
  (init)="slickInit($event)"
  (breakpoint)="breakpoint($event)"
  (afterChange)="afterChange($event)"
  (beforeChange)="beforeChange($event)"
>
  <div ngxSlickItem *ngFor="let slide of slides;let i = index;" class="slide" (click)="handleClickSlider(slide,i)" [class.slide-active]="selectedSlide===i">
    <span class="slide-text">{{slide.text}}</span>
    <span  *ngIf="selectedSlide===i" class="slide-opaque-bg"></span>
    <img src="{{ slide.img }}" alt="" width="100%" />
  </div>
</ngx-slick-carousel>

<!-- <button (click)="addSlide()">Add</button>
<button (click)="removeSlide()">Remove</button>
<button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
<button (click)="slickModal.unslick()">unslick</button> -->

<!-- <carousel
  [itemsPerSlide]="itemsPerSlide"
  [singleSlideOffset]="false"
  [interval]="false"
  [indicatorsByChunk]="true"
>
  <slide *ngFor="let cat of modelCategories; let index = index">
    <div class="categories-slide" [class.category-active]="index === activeModelCategory">
    <img
      [src]="cat.background"
      alt="image cat"
      style="display: block; width: 100%"
    />
      <div class="carousel-caption">
        <h4>{{ cat.title }}</h4>
      </div>
    </div>
  </slide>
</carousel> -->

<div>
  <tabset class="">
    <tab heading="All" id="tab1">
      <ngx-masonry>
        <a routerLink="/view-post">
          <div
            ngxMasonryItem
            class="masonry-item"
            *ngFor="let item of masonryItems"
          >
            <img src="https://picsum.photos/seed/picsum/200/200" />
          </div>
        </a>
      </ngx-masonry>
    </tab>
    <tab heading="latest">Latest</tab>
    <tab heading="liked">Most Liked</tab>
  </tabset>
</div>
