<div class="modal-layout">

    <div class="project-view d-md-flex row">
        <main class="project-assets d-sm-flex flex-column justify-content-center col-9">
            <div class="d-flex justify-content-center mb-3">
                <img src="https://cdnb.artstation.com/p/assets/images/images/032/215/921/large/nitro-mosquito01.jpg?1605793476" class="post-img"/>
            </div>
            <div class="d-flex justify-content-center mb-3">
                <img src="https://cdna.artstation.com/p/assets/images/images/032/216/098/large/nitro-nitro-mosquito02.jpg?1605793852" class="post-img"/>
            </div>
            <div class="d-flex justify-content-center mb-3">
                <img src="https://cdna.artstation.com/p/assets/images/images/032/216/102/large/nitro-nitro-mosquito-baby01.jpg?1605793863" class="post-img"/>
            </div>
        </main>
        <aside class="project-sidebar flex-shrink-0 col-3">yyyy</aside>
    </div>

</div>