
.project-view{
    background: #000;
    min-height: calc(100vh - 51px);
    min-height: calc(100vh - $main-menu-height);
}

.project-assets{
    background:black;
    overflow: scroll;
}
.project-sidebar{
    color:white;
    overflow: scroll;
    position: relative;
    background: #171717;
}

.post-img{
   max-width:60%;
}

.profile-title{
    font-size: 0.8em;
    font-weight: 300;
}