<div class="modal-layout">
  <div class="project-view d-md-flex row">
    <main
      class="project-assets d-sm-flex flex-column justify-content-center col-9"
    >
      <div class="d-flex justify-content-center mb-3">
        <img
          src="https://cdnb.artstation.com/p/assets/images/images/032/215/921/large/nitro-mosquito01.jpg?1605793476"
          class="post-img"
        />
      </div>
      <div class="d-flex justify-content-center mb-3">
        <img
          src="https://cdna.artstation.com/p/assets/images/images/032/216/098/large/nitro-nitro-mosquito02.jpg?1605793852"
          class="post-img"
        />
      </div>
      <div class="d-flex justify-content-center mb-3">
        <img
          src="https://cdna.artstation.com/p/assets/images/images/032/216/102/large/nitro-nitro-mosquito-baby01.jpg?1605793863"
          class="post-img"
        />
      </div>
    </main>
    <aside class="project-sidebar flex-shrink-0 col-3">
      <div class="d-flex">
        <div>
          <a class="flex-shrink-0" href="/nitroo"
            ><img
              class="img-circle"
              height="50"
              width="50"
              src="https://cdna.artstation.com/p/users/avatars/000/077/556/medium/0d11032b2a92a7d175914eb1b85e159c.jpg?1569396229"
              alt="Nitro ."
          /></a>
        </div>
        <div class="ml-2">
          <div>Rahul Vyas</div>
          <div class="profile-title">Software Engineer</div>
        </div>
        <div></div>
      </div>

      <button type="button" class="btn btn-success col-12 mt-2">
          <fa-icon [icon]="faThumbsUp" class=""></fa-icon>
          <span> Like</span>
        </button>
                          <div class="mt-2">
                            Hello everyone, it's my honor to bring you the role display of the game black Myth: Wukong that we are making. I used ZBrush and marvelous designer to complete the model production, using ornatrix to complete the hair production, substance painter and Mari made the texture, and finally completed the real-time rendering in the engine.
                            The conceptual design was drawn by Yang Q
                          </div>
    </aside>
  </div>
</div>
